/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

## API DOC
/.scribe
/public/docs
# PDF Gnerations
/public/doc.pdf
/public/temp/*
/public/test_temp
!/public/temp/.gitkeep
/storage/app/public/users/images/*
